<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:consumer timeout="1000"/>

    <dubbo:application name="consumer-user-app" />
    <dubbo:registry protocol="zookeeper" address="192.168.100.200:2181" />
<!--     <dubbo:registry address="redis://192.168.100.200:6379"/> -->

<!--     <dubbo:reference id="userService" interface="com.acme.dubbo.inter.UserService" retries="2" loadbalance="roundrobin" cluster="failover"> -->
<!--         重试次数配置如：(failover集群模式生效) -->
<!--         <dubbo:method name="getMessage" retries="2" /> -->
<!--     </dubbo:reference> -->

<!--     <dubbo:reference id="userService"  interface="com.acme.dubbo.inter.UserService" loadbalance="consistenthash" init="true"> -->
<!--         重试次数配置如：(failover集群模式生效) -->
<!--         <dubbo:parameter key="hash.nodes" value="320" /> -->
<!--         <dubbo:parameter key="hash.arguments" value="0,1" /> -->
<!--         <dubbo:method name="getMessage" retries="2" timeout="1000"/> -->
<!--     </dubbo:reference> -->
    
    <!-- 点对点直连 -->
    <dubbo:reference id="userService"  interface="com.acme.dubbo.inter.UserService" url="dubbo://localhost:20880">
        <!-- 重试次数配置如：(failover集群模式生效) -->
        <dubbo:method name="getMessage" retries="2" timeout="1000"/>
    </dubbo:reference>
    
    
</beans>