<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="acme.me.orm.mapper.AccountMapper">
    <select id="getAccountList" resultType="account" parameterType="map">
        <![CDATA[
            select id, name, sex from account
            where name like concat('%', '${keyWord}','%')
        ]]>
    </select>

    <select id="getAccountListB" resultType="account" parameterType="map">
        <![CDATA[
            select id, name, sex from account
        ]]>
    </select>
</mapper>