<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div id="app">
        <amt-grid></amt-grid>
    </div>

</body>
<script src="./js/vue.js"></script>
<script>
    var gridTitleComponent = Vue.component('amt-grid-title', {
        template: '<thead><tr>'
        + '<td v-for="title in titles">'
        + '{{ title.title }}'
        + '</td>'
        + '</tr></thead>',
        props: ["titles"]
    });
    var gridRowComponent = Vue.component('amt-grid-row', {
        template: '<tbody>'
        + '<tr v-for="row in rows">'
        + '<td v-for="title in titles" v-on:click=say>'
        + '{{ row[title.field] }}'
        + '</td>'
        + '</tr>'
        + '</tbody>',
        props: ["titles", "rows"],
        methods: {
            say: function() {
                alert("db");
                this.$dispatch("say", "great");
            }
        }
    });
    var gridFootComponent = Vue.component('amt-grid-pager', {
        template: '<p>假设这里是分页组件</p>',
        props: ["pager"]
    });


    function Grid(el, config, data, methods) {
        var mergetData = {
            config: {
                name: config.name,
                titles: config.titles
            },
            data: {
                rows: data.rows,
                pager: data.pager
            }
        };
        var gc = Vue.component('amt-grid', {
            template: '<div>' +
            '<div v-html="config.html"></div>' +
            '<span v-on:click=say>{{ config.name }}</span>' +
            '<table>' +
            '<amt-grid-title v-bind:titles=config.titles></amt-grid-title>'+
            '<amt-grid-row v-bind:titles=config.titles v-bind:rows=data.rows></amt-grid-row>'+
            '</table>' +
            '<amt-grid-pager v-bind:pager=data.pager></amt-grid-pager>'+
            '</div>',
            components: {
                'amt-grid-title': gridTitleComponent,
                'amt-grid-row': gridRowComponent,
                'amt-grid-pager': gridFootComponent,
            },
            //props: ['data', 'config'],
            data: function() {
                return mergetData;
            },
            methods: methods
        });
        console.log(gc);
        var grid = new Vue({
            el: el,
            methods: {
                say: function() {
                    alert("top");
                }
            }
        });
        console.log(grid);
        return grid;
    }

</script>
<script>
    var config = {
        name: "报表",
        html: "<h1>Head</h1>",
        titles: [
            {title: '姓', field: "lastName"},
            {title: '名', field: "firstName"},
            {title: '年龄', field: "age"}
        ]
    };
    var data = {
        rows: [
            {firstName: "明轩", lastName: "陈", age: 28, address: "四川成都高新区" },
            {firstName: "Alex", lastName: "赵", age: 11, address: "四川成都高新区" }
        ],
        pager: {}
    };
    var methods = {
        say: function() {
            alert("sb!");
        }
    }
    var grid = Grid("#app", config, data, methods);
    config.g = 'gg';
    config.titles.push({title: '地址', field: "address"});
    data.rows.push({firstName: "Liming", lastName: "Duo", age: 52, address: "四川成都高新区" });
</script>
</html>
