<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div id="app">
    </div>
</body>
<script src="./js/vue.js"></script>

<script type="text/x-template" id="amt-grid-title-tpl">
    <thead>
        <tr>
            <td v-for="title in titles">
                {{ title.title }}
            </td>
        </tr>
    </thead>
</script>

<script type="text/x-template" id="amt-grid-row-tpl">
    <tr @click=cli>
        <td v-for="title in titles">
            {{ row[title.field] }}
        </td>
    </tr>
</script>

<script type="text/x-template" id="amt-grid-rows-tpl">
    <tbody>
        <amt-grid-row v-for="row in rows" :row=row :titles=titles />
    </tbody>
</script>

<script type="text/x-template" id="amt-grid-tpl">
    <div>
        <div v-html="config.html"></div>
        <span @click=show>{{ config.name }}</span>
        <table>
            <amt-grid-title :titles=config.titles></amt-grid-title>
            <amt-grid-rows :titles=config.titles :rows=data.rows @showChild=say></amt-grid-rows>
        </table>
        <amt-grid-pager :pager=data.pager></amt-grid-pager>
    </div>
</script>

<script>
    var gridTitleComponent = Vue.component('amt-grid-title', {
        template: "#amt-grid-title-tpl",
        props: ["titles"]
    });

    var gridRowComponent = Vue.component('amt-grid-row', {
        template: "#amt-grid-row-tpl",
        props: ["titles", "row"],
        methods: {
            cli: function() {
                this.$emit('showChild', this.row)
            }
        }
    })

    var gridRowsComponent = Vue.component('amt-grid-rows', {
        template: "#amt-grid-rows-tpl",
        props: ["titles", "rows"],
        methods: {
            say: function(row) {
                console.log(row)
            }
        },
        components: {
            "amt-grid-row": gridRowComponent
        }
    });

    var gridFootComponent = Vue.component('amt-grid-pager', {
        template: '<p @click=gotoPage>假设这里是分页组件{{ pager.pageNo }},{{ pager.pageSize }},{{ pager.total }}</p>',
        props: ["pager"],
        methods: {
            gotoPage: function() {
                this.pager.pageNo = this.pager.pageNo+1;
            }
        }
    });

    var gc = Vue.component('amt-grid', {
        template: "#amt-grid-tpl",
        components: {
            'amt-grid-title': gridTitleComponent,
            'amt-grid-rows': gridRowsComponent,
            'amt-grid-pager': gridFootComponent,
        },
        props: ['data', 'config'],

        methods: {
            show: function() {
                alert("top");
            },
            say: function(row) {
                alert(row);
            }
        }
    });

    function Grid(el, config, data, methods) {
        console.log(gc);
        var grid = new Vue({
            el: el,
            components: { gc },
            template: '<amt-grid :config="config" :data="data"/>',
            data: {
                config: {
                    name: config.name,
                    titles: config.titles
                },
                data: {
                    rows: data.rows,
                    pager: data.pager
                }
            },
            methods: {
                topClick: function () {
                    alert("top")
                }
            }
        });
        console.log("grid")
        console.log(grid);
        return grid;
    }

</script>
<script>
    var config = {
        name: "报表",
        html: "<h1>Head</h1>",
        titles: [
            {title: '姓', field: "lastName"},
            {title: '名', field: "firstName"},
            {title: '年龄', field: "age"}
        ]
    };
    var data = {
        rows: [
            {firstName: "明轩", lastName: "陈", age: 28, address: "四川成都高新区" },
            {firstName: "Alex", lastName: "赵", age: 11, address: "四川成都高新区" }
        ],
        pager: {
            pageNo : 1,
            pageSize : 10,
            total : 2000
        }
    };
    var methods = {
        say: function(row) {
            alert("sb!");
            console.log(row)
        }
    }
    var grid = Grid("#app", config, data, methods);

    setTimeout(()=>{
        grid.config.name = '--报表闪现--';
        grid.config.titles.push({title: '地址', field: "address"});
        grid.data.rows.push({firstName: "Liming", lastName: "Duo", age: 52, address: "四川成都高新区" });
    }, 1000)

</script>
</html>
