<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "/WEB-INF/tld/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="TerminalConsole" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout"><!-- 设置监视器输出方式 -->
            <param name="ConversionPattern" value="%p [%C{1}:%M(%L)] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter"><!--滤镜设置输出的级别（范围）-->
            <param name="levelMin" value="DEBUG" />
            <param name="levelMax" value="FATAL" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

    <!-- 开发时设置的logger，全部输出到终端 -->
    <root>
        <level value="info" />
        <appender-ref ref="TerminalConsole" />
    </root>

</log4j:configuration>