<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />

    <bean id="factoryPostProcessor" class="acme.me.spring.MyBeanFactoryPostProcessor" />

    <bean id="postProcessor" class="acme.me.spring.MyBeanPostProcessor" />

    <bean id="bean2" class="acme.me.spring.Bean" />

    <bean id="bean1" class="acme.me.spring.Bean" init-method="init" />
    
    <alias name="bean1" alias="bean1-alias"/>


</beans>