<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.18.131:3306/test" />
        <property name="username" value="dev" />
        <property name="password" value="dev" />
        <property name="defaultAutoCommit" value="false" />
        <property name="poolPreparedStatements" value="true" />
    </bean>

    <bean id="dataSourceImp" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.sap.db.jdbc.Driver" />
        <property name="url" value="jdbc:sap://192.168.1.99:30015/MEDICAL?reconnect=true" />
        <property name="username" value="MEDICAL" />
        <property name="password" value="Tianfud6402" />
        <property name="defaultAutoCommit" value="false" />
        <property name="poolPreparedStatements" value="true" />
    </bean>

    <bean id="sqlFile" class="java.io.File">
        <constructor-arg>
            <value>./target/classes/will.sql</value>
        </constructor-arg>
    </bean>

    <context:annotation-config />

    <bean id="factoryPostProcessor" class="acme.me.spring.MyBeanFactoryPostProcessor"></bean>

    <bean id="postProcessor" class="acme.me.spring.MyBeanPostProcessor"></bean>

    <bean id="bean2" class="acme.me.spring.Bean"></bean>

    <bean id="bean1" class="acme.me.spring.Bean" init-method="init" />

    <bean id="sleepHelper" class="acme.me.spring.SleepHelper">
    </bean>

    <bean id="human" class="acme.me.spring.Human">
    </bean>

    <bean id="sleepPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
        <property name="pattern" value=".*sleep" />
    </bean>

    <bean id="sleepHelperAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="sleepHelper" />
        <property name="pointcut" ref="sleepPointcut" />
    </bean>

    <bean id="humanProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="human" />
        <property name="interceptorNames" value="sleepHelperAdvisor" />
        <property name="proxyInterfaces" value="acme.me.spring.Sleepable" />
    </bean>
</beans>